<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="../../../vue.js"></script>
        <title>表单输入绑定</title>
    </head>
    <body>
        <!--文本-->
        <div id="example1">
            <input  v-model.number="message" placeholder="edit me">
            <p>Message is:{{message}}</p>
        </div>
        <!--多行文本-->
        <div id="example2">
            <span>Multiline message:</span>
            <p style="white-space: pre-line;">{{message}}</p>
            <br>
            <textarea v-model="message"></textarea>
        </div>
        <!--复选框-->
        <div id = "example3">
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{checked}}</label>
        </div>
        <!--Components Basics-->
        <div id="blog-posts-events-demo">
            <button-counter></button-counter>
            <div :style="{ fontSize: postFontSize + 'em' }">
                <blog-post
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
                v-on:enlarge-text="onEnlargeText"
                ></blog-post>
            </div>
        </div>
        <div id="example5">
            <alert-box>
                Something bad happened.
            </alert-box>
        </div>
        <div id="example6">
            <base-input
            v-model="username"
            v-bind:label="label"
            required
            placeholder="Enter your username"
            ></base-input>
        </div>
        <script src="../js/FormInputBindings.js"></script>
    </body>
</html>