<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue</title>
		<script src="./vue.js"></script>
	</head>
	<body>
		<div>
			<a href="./src/module/ComputedPropertiesAndWatchers.html" target="_blank">计算属性和侦听器</a>
		</div>
		<div>
			<a href="./src/module/FormInputBindings.html" target="_blank">表单输入绑定</a>
		</div>
		<div>
			<a href="./src/module/Transitions.html" target="_blank">列表过渡</a>
		</div>
		<div id="app">
			{{ message }}
		</div>
		<div id="app-2">
		  <span v-bind:title="message">
			鼠标悬停几秒钟查看此处动态绑定的提示信息！
		  </span>
		</div>
		<div id="app-3">
			<p v-if="sss">溜啦溜啦</p>
		</div>
		<div id="app-4">
			<ol>
				<li v-for="bean in beans">
					{{bean.text}}
				</li>
			</ol>
		</div>
		<div id="app-5">
			<p>{{message}}</p>
			<button v-on:click="reverseMessage">反转消息</button>
		</div>
		<div id="app-6">
			<p>{{message}}</p>
			<input v-model="message">
		</div>
		<!-- 组件模板 -->
		<div id="app-7">
			<ol>
				<todo-item 
					v-for="item in list"
					v-bind:todo = "item"
					v-bind:key = "item.id"
				></todo-item>
			</ol>
		</div>
		<!--v-on-->
		<div id="example1">
			<button v-on:click="count += 1">add1</button>
			<p>The button above has been clicked {{ count }} times.</p>
		</div>
		<div id="example2">
			<button v-on:click="say('hi')">Say Hi</button>
			<button v-on:click="say('喵')">Say 喵</button>
		</div>

		<script src="src/1.js"></script>
	</body>
</html>

